*{
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    user-select: none;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #212847;
}

.calculator{
    height: 70vh;
    width: 30%;
    border: 30px solid #14192c;
    border-radius: 10px;
}

table{
    width: 100%;
    height: 70%;
    background-color: #414e42;
}

td{
    width: 25%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    background-color: #ffffff;
    color: rgb(255, 255, 255);
}

td:hover{
    background-color: #e2e2e2;
    cursor: pointer;


}

#resultArea{
    height: 30%;
    background-color: #6b7e6d;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}


#result{
    background-color: #e98c00;
}
#result:hover{
    background-color: #ff9900;
}

.specialSign{
    background-color: #3f4853;
}
.specialSign:hover{
    background: #47515e;
}


.DEL{
    background-color: #dd1c1c;
}
.DEL:hover{
    background-color: #ff2020;
}

.special{
    background-color: rgb(255, 255, 255);
    color: black;
}


@media(max-width: 1060px) {
    .calculator{
        height: 70vh;
        width: 60%;
    }
}

@media(max-width: 549px) {
    .calculator{
        height: 100vh;
        width: 100%;
        border: none;
    }
}